<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Prostate Ninja</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <body>
    <h1>Prostate Ninja!</h1>
    <form action="/" method="POST">
      <label for="age">Age:</label>
      <input type="number" name="age" />
      <label for="sex">Sex:</label>
      <select name="sex" id="sex">
        <option value="Male">Male</option>
        <option value="female">Female</option>
      </select>
      <label for="location">Location(State):</label>
      <select name="location" id="location">
        <option value="AL">Alabama</option>
        <option value="Alaska">Alaska</option>
        <option value="Arizona">Arizona</option>
        <option value="Arkansas">Arkansas</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Connecticut">Connecticut</option>
        <option value="Delaware">Delaware</option>
        <option value="Florida">Florida</option>
        <option value="Georgia">Georgia</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Idaho">Idaho</option>
        <option value="Illinois">Illinois</option>
        <option value="Indiana">Indiana</option>
        <option value="Iowa">Iowa</option>
        <option value="Kansas">Kansas</option>
        <option value="Kentucky">Kentucky</option>
        <option value="Louisiana">Louisiana</option>
        <option value="Maine">Maine</option>
        <option value="Maryland">Maryland</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="Michigan">Michigan</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Mississippi">Mississippi</option>
        <option value="Missouri">Missouri</option>
        <option value="Montana">Montana</option>
        <option value="Nebraska">Nebraska</option>
        <option value="Nevada">Nevada</option>
        <option value="New Hampshire">New Hampshire</option>
        <option value="New Jersey">New Jersey</option>
        <option value="New Mexico">New Mexico</option>
        <option value="New York">New York</option>
        <option value="North Carolina">North Carolina</option>
        <option value="North Dakota">North Dakota</option>
        <option value="Ohio">Ohio</option>
        <option value="Oklahoma">Oklahoma</option>
        <option value="Oregon">Oregon</option>
        <option value="Pennsylvania">Pennsylvania</option>
        <option value="Rhode Island">Rhode Island</option>
        <option value="South Carolina">South Carolina</option>
        <option value="South Dakota">South Dakota</option>
        <option value="Tennessee">Tennessee</option>
        <option value="Texas">Texas</option>
        <option value="Utah">Utah</option>
        <option value="Vermont">Vermont</option>
        <option value="Virginia">Virginia</option>
        <option value="Washington">Washington</option>
        <option value="West Virginia">West Virginia</option>
        <option value="Wisconsin">Wisconsin</option>
        <option value="Wyoming">Wyoming</option>
      </select>
      <br />
      <input type="radio" id="healthy" name="health" value="healthy">
      <label for="healthy">Healthy</label><br>
      <input type="radio" id="notHealthy" name="health" value="notHealthy">
      <label for="notHealthy">Not Healthy</label><br>
      <input type="submit" />
    </form>
    {% if studies  is defined %}
      {% for study in studies %}
          <h4>Study {{ loop.index }}-</h4>
          <div>
            <b>Trial</b>            - {{study.briefTitle}} <br/>
            <b>Organisation</b>     - {{study.organization}} <br/>
            <b>Conditions</b>       - {{study.conditions}} <br/>
            <b>LocationCity</b>     - {{study.locationCity}} <br/>
            <b>LocationState</b>    - {{study.locationState}} <br/>
            <b>LocationFacility</b> - {{study.locationFacility}} <br/>
            <b>Minimum Age</b>      - {{study.minimumAge if (study.minimumAge | int)>=0 else 'No minimum age'}} <br/>
            <b>Maximum Age</b>      - {{study.maximumAge if (study.maximumAge | int)<=100 else 'No maximum age' }}
          </div>
          <hr/>
      {% endfor %}
    {% endif %}
  </body>
</html>
